{% extends "bootstrap/base.html" %}
{% block title %}Conan Buddy{% endblock %}


{% block content %}

  <body data-gr-c-s-loaded="true">
    {% include 'navbar.html' %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% if triaging_by_user %}
                <h3><span class="">Number of issues being triaged by user</span></h3>
                <div class="table-responsive">
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th>Username</th>
                        <th># triaging</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for user, number in triaging_by_user.items() %}
                      <tr>
                          <td><a href="https://github.com/conan-io/conan/issues?q=is%3Aopen+is%3Aissue+assignee%3A{{ user.login }}+label%3A%22stage%3A+triaging%22">{{ user.login }}</a></td>
                          <td>{{ number }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            {% else %}
                <h3><span class="">No issues being triaged... weird</span></h3>
            {% endif %}
            {% if triaging_without_user %}
                <h3><span class=""><span class="glyphicon glyphicon-remove"></span> Checking "stage:triaging" without user</span></h3>
                <div class="table-responsive">
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Title</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for issue in triaging_without_user %}
                      <tr>
                        <td><a href="{{ issue.url }}" target="_blank">#{{ issue.number }}</a></td>
                        <td><a href="{{ issue.url }}" target="_blank">{{ issue.title }}</a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            {% else %}
                <h3><span class=""><span class="glyphicon glyphicon-ok"></span> no triaging user without owner</span></h3>
            {% endif %}
            {% if queue_with_user %}
                <h3><span class=""><span class="glyphicon glyphicon-remove"></span> Checking "stage:queue" with user</span></h3>
                <div class="table-responsive">
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Assignees</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for issue in queue_with_user %}
                      <tr>
                        <td><a href="{{ issue.url }}" target="_blank">#{{ issue.number }}</a></td>
                        <td><a href="{{ issue.url }}" target="_blank">{{ issue.title }}</a></td>
                        <td>{{ print_list(issue.assignees)|safe }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            {% else %}
                <h3><span class=""><span class="glyphicon glyphicon-ok"></span> no enqueued issues with owner</span></h3>
            {% endif %}
        </div>
    </div>
    {% include 'js.html' %}

</body>
{% endblock %}
